body {
  background-color: #cccccc;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
/* Banner styles */
.banner {
  height: 250px;
  width: 300px;
  display: block;
  margin: 0px 0px 0px auto;
}
.banner .overlay {
  background-color: #000;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.banner:hover img {
  opacity: 0.5;
}
.numbers {
  z-index: 50;
  position: absolute;
  top: 105px;
  right: 135px;
  color: #fff;
}
.numbers.animate {
  animation: grow 3s;
}
@keyframes grow {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 4rem;
  }
}
@-webkit-keyframes grow {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 4rem;
  }
}

/* Expanded banner style */
.expandable {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0); /* fallback color */
  background-color: rgba(0, 0, 0, 0.8);
}
.full_img {
  position: relative;
  display: inline-block;
  max-width: 1200px;
  width: 100%;
  height: auto;
}
.shape {
  position: absolute;
  left: 140px;
  top: 150px;
  -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* Links */
.social_links {
  position: absolute;
  width: 155px;
  height: 20px;
}
.pre_order {
  position: absolute;
  width: 170px;
  height: 45px;
}
.pre_order:hover {
  content: url("assets/pre-order.png");
  display: block;
  position: absolute;
  width: 200px;
  height: 70px;
  transform: translate(-5px, -20px);
}
#facebook:hover {
  content: url("assets/facebook.png");
  display: block;
  position: absolute;
  width: 175px;
  height: 30px;
  transform: translate(-5px, -5px);
}
#twitter:hover {
  content: url("assets/twitter.png");
  display: block;
  position: absolute;
  width: 175px;
  height: 30px;
  transform: translate(-5px, -5px);
}
#close:hover {
  content: url("assets/close.png");
  display: block;
  position: absolute;
}
